/* ==========================================================================
   #NIGHTINGALE
   ========================================================================== */

/**
 * CONTENTS
 *
 * SETTINGS
 * All..................Grab all of our settings files in one go.
 *
 * TOOLS
 * All..................Grab all of our tools files in one go.
 *
 * GENERIC
 * Box-sizing...........Better default box-sizing rules.
 * Normalize.css........Snapshot of Normalize.css as of v5.0.0.
 * Reset................Small reset on top of Normalize.css.
 * Shared...............Share vertical rhythm etc. across multiple elements.
 * Font-face............Custom web-front declarations.
 *
 * ELEMENTS
 * Page.................HTML and BODY element styles.
 * Headings.............H1–6 elements.
 * Links................Basic hyperlink styles.
 * Lists................UL, OL element styles.
 * Images...............Sensible defaults for IMG elements.
 * Quotes...............Pared back quotation styling.
 * Small................Smallprint and legalese.
 * Details..............Basic details element for revealed content.
 * Forms................Element-only form styles.
 *
 * OBJECTS
 * Wrappers.............Page-constraints.
 * Layout...............Grid-like layout system.
 * List Bare............Lists with no indents or bullet points.
 *
 * COMPONENTS
 * Buttons..............Button component.
 * Spinner..............Waiting-state spinner.
 * Divider..............Dividing element (`HR`).
 * Ribbons..............Info messages that sit at the top of a page.
 * Page Header..........Main page header component
 * Nav Primary..........Main navigation menu
 * Page Footer..........Large footer area at the very bottom of the page.
 * Progress Bar.........Linear progress bar
 * Progress Wheel.......Circular progress indicator
 * Forms................All of our different form styles.
 * Pagination...........Component for paging through items/views.
 * Tabs.................Tabbed content switcher.
 * Sprite...............Icon spriting component
 *
 * MIDDLEWARE
 * Submit...............Style Moodle’s submit button.
 *
 * UTILITIES
 * Colors...............Utility classes generated from our color map.
 * Spacing..............Nudge layouts around with our spacing classes.
 * Widths...............Generate width classes that can be used with our grid.
 * Z-Index..............A suite of stacking utility classes.
 * Display..............Show/hide/etc. utility classes.
 * Overrides............CSS to override/force new Nightingale styles.
 * Hints................Helpful pointers to prevent developers misusing things.
 */

@import "settings/settings.pre-config";
@import "nightingale/settings/all";
@import "settings/settings.colors";





@import "nightingale/tools/all";
@import "sass-mq/mq";





@import "nightingale/generic/generic.box-sizing";
@import "normalize.css/normalize";
@import "nightingale/generic/generic.reset";
@import "nightingale/generic/generic.shared";
@import "nightingale/generic/generic.font-face";





@import "nightingale/elements/elements.page";
@import "nightingale/elements/elements.headings";
@import "nightingale/elements/elements.links";
@import "nightingale/elements/elements.lists";
@import "nightingale/elements/elements.images";
@import "nightingale/elements/elements.quotes";
@import "nightingale/elements/elements.small";
@import "nightingale/elements/elements.details";
@import "nightingale/elements/elements.forms";





@import "nightingale/objects/objects.wrappers";
@import "nightingale/objects/objects.layout";
@import "nightingale/objects/objects.list-bare";





@import "nightingale/components/buttons/components.buttons";
@import "nightingale/components/spinner/components.spinner";
@import "nightingale/components/divider/components.divider";
@import "nightingale/components/ribbons/components.ribbons";
@import "nightingale/components/page-header/components.page-header";
@import "nightingale/components/nav-primary/components.nav-primary";
@import "nightingale/components/page-footer/components.page-footer";
@import "nightingale/components/progress/components.progress-bar";
@import "nightingale/components/progress/components.progress-wheel";
@import "nightingale/components/forms/components.forms";
@import "nightingale/components/pagination/components.pagination";
@import "nightingale/components/tabs/components.tabs";
@import "nightingale/components/sprite/components.sprite";
@import "components/panel/components.panel";





@import "middleware/middleware.submit";





@import "nightingale/utilities/utilities.colors";
@import "nightingale/utilities/utilities.spacing";
@import "nightingale/utilities/utilities.widths";
@import "nightingale/utilities/utilities.z-index";
@import "nightingale/utilities/utilities.display";
@import "nightingale/utilities/utilities.hints";
@import "utilities/utilities.overrides";
